<container class="footer">
  <row>
    <columns small="12" large="12" class="footer-columns">
      <h5>Please save this email for your records.</h5>
      <p>Check your order status at any time by logging in to your <a target="_blank" href="https://signin.ea.com/p/web2/login?execution=e661554197s1&initref=https%3A%2F%2Faccounts.ea.com%3A443%2Fconnect%2Fauth%3Fclient_id%3Dcustomer_portal%26response_type%3Dcode%26redirect_uri%3Dhttps%253A%252F%252Fmyaccount.ea.com%252Fcp-ui%252Faboutme%252Flogin%26locale%3Den_US%26state%3DU1R0Q1ZhWHQwMXFjUDlZYkY6cDFtZWg">EA Account</a>.</p>
      <p>Have a Question? We're here to <a target="_blank" href="https://help.ea.com/en/origin/origin-access/">help</a> 24/7.</p>
      <p>By making your purchase today, you authorize EA to charge the price stated above (inclusive of applicable taxes based on billing address) to your payment method, and in the case of subscriptions, on each renewal date. Subscribers: I may cancel my subscription at any time <a target="_blank" href="https://signin.ea.com/p/web2/login?execution=e661554199s1&initref=https%3A%2F%2Faccounts.ea.com%3A443%2Fconnect%2Fauth%3Fclient_id%3Dcustomer_portal%26response_type%3Dcode%26redirect_uri%3Dhttps%253A%252F%252Fmyaccount.ea.com%252Fcp-ui%252Faboutme%252Flogin%26locale%3Den_US%26state%3DU1R0Q1ZhWHQwMXFjUDlZYkY6cDFtZWg">here</a>. After cancellation, I can continue to play until the end of my subscription period.</p>
      <p>Your purchase from EA is subject to EA's <a target="_blank" href="http://tos.ea.com/legalapp/termsofsale/US/en/PC/">Terms of Sale</a>.</p>
      <p><a target="_blank" href="https://www.origin.com/usa/en-us/store/origin-access/terms">Origin Access Terms and Conditions</a></p>
      <p>Seller: Electronic Arts Inc. 209 Redwood Shores Parkway, Redwood City, CA 94065.</p>
      <p>© 2019 Electronic Arts Inc.</p>
      <p class="footer-links"><a target="_blank" href="https://www.ea.com/about">About Us</a> | <a target="_blank" href="http://tos.ea.com/legalapp/WEBPRIVACY/US/en/PC/">Privacy and Cookie Policy</a> | <a target="_blank" href="https://tos.ea.com/legalapp/WEBTERMS/US/en/PC/">User Agreement</a> | <a target="_blank" href="https://www.ea.com/legal">Legal</a></p>
    </columns>
  </row>
  <row>
    <columns small="1" large="1">

    </columns>
    <columns small="10" large="10" class="grey-bottom-line" style="border-top: 1px solid #666666; width: 80% !important;">

    </columns>
    <columns small="1" large="1">

    </columns>
  </row>
  <row>
    <columns small="12" large="12" class="origin-bottom-logo">
      <img src="https://i.imgur.com/ZaBxuyW.jpg" alt="">
    </columns>
  </row>
</container>
